@font-face {
  font-family: 'SF Ironsides';
  src: url(fonts/SF_Ironsides.ttf) format('truetype');
}

@font-face {
  font-family: 'SF Ironsides Extended';
  src: url(fonts/SF_Ironsides_Extended.ttf) format('truetype');
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;

}

h1, h2, h3, .navbar-brand, .alert-heading {
  font-family: 'SF Ironsides Extended';
}

